# Node
node_modules/
dist/
build/
.vite/
**/.vite/
.npm/

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
*.db
*.sqlite3

# Video / Temp Clips
data/clips/*.mp4
data/snapshots/*.jpg

# IDE
.vscode/
.idea/
.DS_Store
data/
data/videos/
*.mp4
*.pt
*.avi
*.mov